<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title id="title">爱我就来冒险吧</title>
<meta name="description" content="" />
<meta name="keywords" content="" />

<!--Fonts-->
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>

<!--CSS-->
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body data-ng-app="contactApp" class="iblue">
<!--Preloader-->
<div class="preloader-it">
	<div class="la-anim-1"></div>
</div>
<!--/Preloader-->

<!--Splitlayout -->
<div id="splitlayout" class="splitlayout reset-layout">
	
	<!--Intro-->
	<div class="intro">
		
		<!--Left Content Intro-->
		<div class="side side-left">
			
			<!--Main Content-->
			<section class="col-lg-12 content-wrap padding-left-75 padding-right-75 padding-left-sm-40 padding-right-sm-40 sec-pad-sm sec-pad-xs">
				
				<div class="table-wrap">
					<div class="tablecell">
						<!--Counter-->
						<h5>
							<span id="countdown">
								<span class="days-wrap">
								   <span class="days">00</span>
								   <span>全新的</span>
								</span>
								<span>冒险</span>
							</span>
						</h5>	
						<!--/Counter-->
						
						<!--Ticker-->
						<div class="tlt">
							<ul  class="texts">
								<li data-in-effect="bounceIn" data-out-effect="fadeOut" data-in-shuffle="true" data-out-shuffle="true">
									Stay Tuned
								</li>
								<li  data-in-effect="bounceIn" data-out-effect="fadeOut" data-in-shuffle="true" data-out-shuffle="true">
									Be Patient
								</li>
								<li  data-in-effect="bounceIn" data-out-effect="fadeOut" data-in-shuffle="true" data-out-shuffle="true">
									Back Soon
								</li>
							</ul>
						</div>
						<!--/Ticker-->
						
						<p class="lead col-md-9 col-xs-12 margin-top-10 padding-zero">Copyright © 2016 NEXON Korea Corporation. Licensed to Shanda Games, in China</p>
						
						<div class="clearfix"></div>
					</div>	
				</div>

				<!--/Social Icons Wrap-->
				
				<div class="clearfix"></div>
				
			</section>
			<!--/Main Content-->
							
			<div class="side-left-overlay"></div>
		</div>
		<!--/Left Content Intro-->
		
		<!--Right Content Intro-->
		<div class="side side-right">
			<section class="about-info col-lg-12 padding-left-75 padding-right-75 padding-left-sm-40 padding-right-sm-40 sec-pad-sm sec-pad-xs">
				<div class="table-wrap">
					<div class="tablecell">
						<h2>2018年白色情人节专题</h2>
						<p class="margin-bottom-25">EVENT 01 活动期间，在个钓鱼场钓鱼，获得的钓鱼经验<strong style="color: red ">3倍</strong>提升！</p>
						<p class="margin-bottom-25">EVENT 02 活动期间，使用冒险券在游戏商城购买<strong style="color: Blue ">【企鹅钓鱼手礼包】【喵喵猫钓鱼手礼包】</strong>的玩家，有机会获赠<strong style="color: Blue ">“小鱼戒指”30天</strong>一枚。</p>
						<p class="margin-bottom-25">EVENT 03 活动期间，使用<strong style="color: Blue ">高级鱼饵罐头</strong>垂钓，有机会钓起<strong style="color: Blue ">白色情人节特供情侣精品</strong>。</p>
						<span id="goto_about" class="btn btn-default margin-top-25">
							<span class="mask"></span>
							<span class="btn-label">
								<b>游戏简介</b>
							</span>
						</span>
						<span id="goto_contact" class="btn btn-default alternate-bg margin-top-25">
							<span class="mask"></span>
							<span class="btn-label">
								<b>游戏反馈</b>
							</span>
						</span>
						<span  class="btn btn-default margin-top-25">
							<span class="mask"></span>
							<span class="btn-label">
								<a href="index2.jsp">个人中心</a>
							</span>
						</span>
					</div>
				</div>	
			</section>
			<div class="copyright-text">
				<p>Copyright&copy; 2016 NEXON Korea Corporation. Licensed to Shanda Games, in China<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
			
		</div>
		<!--/Right Content Intro-->
	</div>
	<!--/Intro-->
	
	<!--About Section-->
	<div class="page page-left">
		<div  class="page-inner full-height">
			<div class="close-btn"><span>X</span></div>
			<section class="container-fluid about-sec">
				<div class="row">
					<div class="col-sm-6 padding-zero about-img-wrap">
						<div class="about-img"></div>
					</div>
					<div class="col-sm-6 about-content-wrap padding-left-75 padding-right-75 padding-left-sm-40 padding-right-sm-40 sec-pad-sm sec-pad-xs">
						<div class="table-wrap">
							<div class="tablecell">
								<h2>游戏简介</h2>
								<p class="margin-bottom-20"> 冒险岛（MapleStory）是一款由游戏厂家WIZET、NEXON出品的现代卡通2D横版卷轴网游。该游戏在中国大陆由盛大网络代理，港台名称为枫之谷。</p> 
								<p>在冒险岛世界中，你可以扮演一位冒险家、皇家骑士团、末日反抗军、英雄、晓之阵、超新星族进行冒险，透过技能攻击怪物、解决任务以提升等级。操作界面简单容易上手，在游戏中角色可以自由地跳跃、攀爬藤蔓、梯子、绳索，以及多样化的装饰品，纸娃娃系统可以让玩家自由装扮角色，搭配上衣、裤子、鞋子、帽子、披风、手套、武器、发型和五官等。该游戏以可爱的卡通人物，特色的任务系统，以及好听的音乐场景，受到了许多玩家的喜爱。</p>
								<p>2016年1月第3周，获得韩国网吧榜第十名。2016年1月第四周，《冒险岛》获得韩国网吧榜第五名。</p>
							</div>	
						</div>	
					</div>
				</div>	
				
				<div class="row">
				
					<!--Services-->
					<div class="col-lg-12 services-slider-wrap padding-zero">
						<div class="services-slider">
							<div class="services-item slide-1 odd">
								<div class="service-item-wrap">
									<span class="icon pe-7s-light"></span>
									<h4>入岛准备</h4>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h4>入岛准备</h4>
											<p>在彩虹岛上有一个美丽的蘑菇村，村民安居乐业。其中有四种职业战士、魔法师、弓箭手、飞侠特别受到别人的尊敬。每年这四个职业的优秀代表要到一个叫金银岛的地方打猎并展示精湛的技艺。他们一路跟随战士、魔法师、弓箭手、飞侠组成的冒险小组。</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-light.png" alt="control">
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control">
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
							<div class="services-item slide-2 even">
								<div class="service-item-wrap">
									<span class="icon pe-7s-monitor"></span>
									<h4>新手上路</h4>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h4>新手上路</h4>
											<p>登录游戏后，点击创建角色。大家可以参考职业介绍，单击选择合适的职业群，确认。选择好职业群过后进去角色创建窗口。输入角色名字，确定。取消则回到上一级菜单。点击左右箭头，选择合适的造型，确认后就可以开始体验游戏啦！</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-light.png" alt="control">
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control">
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
							<div class="services-item slide-3 odd">
								<div class="service-item-wrap">
									<span class="icon pe-7s-look"></span>
									<h4>新手成长</h4>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h4>新手成长</h4>
											<p>在最开始的游戏引导完成后（行走，跳跃等等），差不多经验条就第一次读满了，各个职业
不一样，~嘟嘟~练的反抗者大概前面剧情跑完回到城镇就5级了~~</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-light.png" alt="control">
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control">
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
							<div class="services-item slide-4 even">
								<div class="service-item-wrap">
									<span class="icon pe-7s-rocket"></span>
									<h4>高手进阶</h4>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h4>高手进阶</h4>
											<p>目前冒险岛的任务系统，主要包括各职业的特定任务，各主题副本的任务，活动任务，野外地图的突发任务、组队任务等。不同任务触发的等级不同，在升级的同时请务必留意新触发的任务哦！完成后不仅可以了解峰回路转的冒险剧情，还有不菲的报酬哦！</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-light.png" alt="control">
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control">
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
						</div>
					</div>
					<!--/Services-->
					
				</div>	
			</section>
			<div class="trans-overlay-dark-about"></div>
		</div>		
	</div>
	<!--/About Section-->
	
	<!--Contact Section-->
	<div class="page page-right">
		<div  class="page-inner full-height">
			<div class="close-btn"><span>X</span></div>
			
			<!--Contact Sec-->
			<section class="col-lg-12 padding-zero contact-sec">
				
				<div class="col-md-6 contact-sec-wrap padding-left-75 padding-right-75 padding-left-sm-40 padding-right-sm-40 sec-pad sec-pad-sm sec-pad-xs">
					<div class="table-wrap">
						<div class="tablecell">
							<div  data-ng-controller="ContactController">
								<h2 class="margin-bottom-50">嘿&nbsp;<i><span  data-ng-bind="formData.inputName||'there'">there</span></i>, 我们很高兴收到你的来信。</h2>
									<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="form-horizontal" role="form">				
								<input name="action" value="login" type="hidden">	
									<!--Contact Form-->
									<div class="contact-form-wrap">
										<div class="row">
											<div class="col-sm-6 form-group margin-bottom-30" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
												<div class="input-wrap">
													<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input " id="inputName" name="name" placeholder="Name*" required>
												</div>	
											</div>
											<div class="col-sm-6 form-group margin-bottom-30" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
												<div class="input-wrap">
													<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field " placeholder="Email*" id="inputEmail" name="mail" required>
												</div>	
											</div>	
											<div class="col-sm-12 form-group margin-bottom-30 " data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
												<div class="input-wrap">
													<textarea data-ng-model="formData.inputMessage" class="form-control input input__field " rows="4" id="inputMessage" name="content" placeholder="Message*" required></textarea>
												</div>	
											</div>	
											<div class="form-group col-sm-12 col-xs-12 margin-bottom-10">
												<div class="align-center">
													<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
													<span class="mask"></span>
													<span>反馈</span>
													</button>
												</div>
											</div>
										</div>	
										<span class="instr">* 所有字段必填</span>
										<p class="form-msg margin-top-10" data-ng-class="result">{{ resultMessage }}</p>
										<div class="address-details margin-top-50">
											<div class="row">
												<div class="col-sm-4  margin-bottom-xs-50">
													<span class="icon pe-7s-map-marker"></span>
													<span class="add-tag margin-top-10">位置</span>
													<p class="add-detail margin-top-20">201 A 25th street, New York</p>
												</div>
												<div class="col-sm-4 margin-bottom-xs-50">
													<span class="icon pe-7s-phone"></span>
													<span class="add-tag margin-top-10">电话</span>
													<a href="callto:954788315970" target="_blank" class="add-detail margin-top-20">+95(478)831-5970</a>
												</div>
												<div class="col-sm-4">
													<span class="icon pe-7s-mail-open-file"></span>
													<span class="add-tag margin-top-10">E-mail</span>
													<a href="mailto:contact@hencework.com" target="_blank" class="add-detail margin-top-20">contact@hencework.com</a>
												</div>
											</div>
										</div>
									</div>
									<!--/Contact Form-->
									
								</form>
							</div>
						</div>	
					</div>	
				</div>
				
				<!--Map Sec-->
				<div class="col-md-6 padding-zero map-sec-wrap fullpage-height">
					<div id="map_canvas"></div>
				</div>
				<!--/Map Sec-->
				
			</section>
			<!--/Contact Sec-->
			
			<div class="trans-overlay-dark-contact"></div>	
		</div>
	</div>
	<!--/Contact Section-->
	
</div>
<!-- /Splitlayout -->

<!--Notify Popup-->
<div class="md-modal md-effect-2" id="modal-2">
	<div class="md-content notify-cmpt notify-form-type-3">
		<div class="md-content-wrap notify-wrap">
			<div class="md-close" id="notify_close"><span>X</span></div>
			<h2>Subscribe & Stay Updated</h2>
			<p class="margin-top-xs-20">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
			<form id="notifyMe" class="contact-form" action="notify-me.php" method="post">
				<div class="input-wrap">
					<input  data-ng-model="notify" class="col-lg-10  align-center form-control input notify-input-box" name="email" placeholder="Your Email ID"  type="email">
					<div class="clearfix"></div>
					<button type="submit"  class="btn btn-default progress-button btn-submit align-center">
						Notify me
						<span class="mask"></span>
					</button>
				</div>	
			</form>
		</div>
		<div class="md-opac"></div>
	</div>
</div>
<div class="md-overlay"></div>
<!--/Notify Popup-->

<!-- Scripts -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpSplitLayout.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/input-text.js"></script>
<script src="js/notifyMe.js"></script>
<script src="js/jquery.placeholder.js"></script>
<script src="js/jquery.lettering.js"></script>
<script src="js/jquery.textillate.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<script src="js/modelclassie.js"></script>
<script src="js/modalEffects.js"></script>
<script src="http://ditu.google.cn/maps/api/js?key=AIzaSyBxXt2P7-U38bK0xEFIT-ebZJ1ngK8wjww"></script>
<script src="js/init.js"></script>

</body>
</html>
